@import url(https://fonts.googleapis.com/css?family=Dosis:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic);
@import 'lightbox';


#sazon_outer_container {
	margin-bottom: 0;
	min-height: 100vh;
	p, div {
		font-size: 0.85rem!important;
		margin-bottom: 1.25rem;
	}
	.content_area.column {
		padding: 40px !important;
	}
	h1 {
		font-size: 1.8rem!important
	}
	h2 {
		font-size: 1.5rem!important;
	}
	h3 {
		font-size: 1.2rem!important;
	}
	h4 {
		font-size: 1rem!important;
	}
	h5 {
		font-size: 0.9rem!important;
	}
	h6 {
		font-size: 0.9rem;
		line-height: 1.1;
	}
  h1, h2, h3, h4, h5, h6 {
		font-family: "Dosis";
	}
	ul, ol, dl {
		font-family: inherit;
		font-size: 0.8rem;
	}
}

nav#sazon_top_bar, #sazon_top_bar_container {
	background: #5f3557 none repeat scroll 0 0!important;
}

.content_area {
	background: white none repeat scroll 0 0;
	padding-top: 0 !important;
	margin-bottom: 0 !important;
	min-height: 100vh !important;
}

.begrip_row {
  margin-bottom: 0px;

}
.begrip_name, .ism_name {
	padding: 0px 5px 0px 40px !important;
	color: #3a5182;
	font-weight: bold;
  margin: 0 !important;
}

.begrip_description, .ism_description {
  padding: 0px 5px 0px 5px !important;
  margin: 0 !important;
  > p {
    margin: 0px !important;
  }
}

.alphabet {
	border-top: 50px solid white;
	border-bottom: 50px solid white;
	font-weight: bold;
	margin: 0 24px;
	background: #5f3557;
	padding: 0px 10px 4px;
}

.alphabet a {
	color: white;
}

.alphabet_active {
	color: yellow !important;
}

.alphabet_disabled {
	color: gray;
}


.row.sidebar {
  background: rgba(255,255,255,0.9) none repeat scroll 0 0;
}

.left_bg_m0 {
    background: transparent url("/uploads/ckeditor/pictures/17/content_bg-left.jpg") no-repeat fixed 0 0/55% auto;
}
.left_bg_m1 {
    background: transparent url("/uploads/ckeditor/pictures/473/content_m1-1.jpg") repeat fixed right 0/12% auto;
}
.left_bg_m2 {
    background: transparent url("/uploads/ckeditor/pictures/480/content_m2-1.jpg") no-repeat fixed 0 0/55% auto
}
.left_bg_m3 {
    background: transparent url("/uploads/ckeditor/pictures/477/content_m3-1.jpg") no-repeat fixed 0 0/55% auto
}
.right_bg_m0 {
    background: transparent url("/uploads/ckeditor/pictures/21/content_bg-right.jpg") no-repeat fixed right 0/49% auto;
}
.right_bg_m1 {
    background: transparent url("/uploads/ckeditor/pictures/474/content_m1-2.jpg") no-repeat fixed right 0/49% auto;
}
.right_bg_m2 {
    background: transparent url("/uploads/ckeditor/pictures/476/content_m2-2.jpg") no-repeat fixed right 0/49% auto;
}
.right_bg_m3 {
    background: transparent url("/uploads/ckeditor/pictures/481/content_m3-2.jpg") no-repeat fixed right 0/49% auto;
}

.sidebar_area h3 {
	color: #a60c8e;
}

.sidebar_area.column {
  padding: 40px !important;
}

.row.navigation {
	height: 60px;
	margin-top: -40px;
}

.row.sidebar {
	background: rgba(255, 255, 255, 0.70) none repeat scroll 0 0;
	border-radius: 0;
	padding: 20px;
	margin-bottom: 30px;
}

.row.assignments {
	background-image: url(asset_path('postit.png'));
	border: 0;
	border-radius: 0;
	margin-bottom: 30px;
	padding: 30px 16px 15px;
	background-size: 107%;
	margin: 0;
	margin-bottom: 0px;
	width: 90%;
}

.row.begrippen {
	background: rgba(255, 255, 255, 0.70) none repeat scroll 0 0;
	border: 4px solid #7a3372;
	border-radius: 25px 25px 25px 0;
	margin-bottom: 30px;
	padding: 20px;
}

.row.isms {
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
	border: 4px solid #3a5182;
	border-radius: 25px 25px 25px 0;
	margin-bottom: 30px;
	padding: 20px;
}

.quote {
	border-left: 10px solid #3a5182;
	margin-bottom: 35px;
	min-height: 120px;
	padding: 0 0 0 20px;
}

.quote2 {
	border-left: 10px solid #3a5182;
	margin-bottom: 35px;
	padding: 0 0 0 20px;
	font-style: italic;
}

#previous_button {
	float: left;
	height: 45px;
}

#next_button {
	float: right;
	height: 45px;
}

.right {
	margin: 0 -3%;
	padding: 10px;
	width: 106%;
}

#sazon_footer {
	background: #3a5182 none repeat scroll 0 0;
	color: lightgrey;
	font-size: 10px!important;
	padding: 10px 30px;
	text-align: right;
	margin-bottom: 0;
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%;
}

.has-tip {
	color: #666666;
	cursor: help;
	font-style: italic;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	background: #b01f93 none repeat scroll 0 0;
}

.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: #cc11a7 none repeat scroll 0 0;
}

.masonry_image {
	margin-top: 10px !important;
}

#lightbox h1, #lightbox h2, #lightbox h3, #lightbox h4, #lightbox h5, #lightbox h6 {
	color: white;
}

.lightboxOverlay {
	opacity: 0.95;
}

.lb-nav {
	background: #333333 none repeat scroll 0 0;
}

.lb-nav a.lb-next, .lb-nav a.lb-prev {
	opacity: 100;
}

#intro .controls.controls-outro {
	display: none;
}

/*------------------------------------------------*/

/*-embed styles from http://embedresponsively.com-*/

/*------------------------------------------------*/

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
